.\#burguer {
  display: none;
}

.\#burguer img {
  display: none;
}

@media screen and (max-width: 1440px) {
  .\#burguer {
    display: none;
  }
  .\#burguer img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .\#burguer {
    display: block;
  }
  .\#burguer img {
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .\#burguer {
    display: block;
  }
  .\#burguer img {
    display: block;
  }
}
