@media screen and (max-width: 1440px) {
  .\#button {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .\#button {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .\#button {
    display: none;
  }
}
